@import "fonts"
@import "libs"
@import "vars"
@import "base"
@mixin optional-at-root($sel) 
    @at-root #{if(not &, $sel, selector-append(&, $sel))} 
        @content;

@mixin placeholder
    @include optional-at-root('::-webkit-input-placeholder')
        @content;
    @include optional-at-root(':-moz-placeholder') 
        @content;
    @include optional-at-root('::-moz-placeholder') 
        @content;
    @include optional-at-root(':-ms-input-placeholder') 
        @content;


body
    color: #0f3341;
.container
    
.header-line
    font-family: $stock_font
    text-transform: uppercase
    position: relative
    z-index: 2

    .header-line__title
        font-size: 15.4rem
        line-height: 11.8rem
        margin: 0
    .header-line__subtitle
        font-size: 3.9rem
        margin-top: 6rem
        margin-bottom: 0


.header-img
    background: url(../img/hipstor.png)
    background-position: center
    object-fit: cover
    width: 134.5rem
    height: 90rem
    z-index: 1


    .header-img__year
        font-family: $bold_font
        width: 15rem
        height: 16rem
        background: white
        background: rgba(255,255,255,0.62)

        display: flex;
        align-items: flex-start
        justify-content: center

        padding-top: 1.6rem
        font-size: 3.9rem
        p
            margin-top: 0

.v-social
    display: flex;
    flex-direction: column
    width: 5rem
    position: relative

    &::before
      content: " "
      display: block
      position: absolute
      left: 50%;
      margin-left: -2px
      width: 2px
      height: 100%
      background: #009fe3
      z-index: -1

    .v-social__button
        margin-bottom: 6.6rem
        width: 5rem
        height: 5rem
        border-radius: 50%
        background: #009fe3

        &:last-child
            margin-bottom: 0

        display: flex
        justify-content: center
        align-items: center

    .v-social__image


.circle-letter
    position: relative
    &::before
        content: " "
        width: 1.25em
        height: 1.25em
        position: absolute
        margin-left: -.3em
        margin-top: -.27em
        border: 3px solid #00ffff 
        border-radius: 50%
        z-index: -1

.row
    display: flex

    .col
        flex: 1

    &.is-center
        justify-content: center

.about
    .about__content
        max-width: 59rem
        font-size: 3rem
        .title
            font-family: $bold_font
            text-transform: uppercase
            margin-top: 0
            margin-bottom: 7.7rem
            font-size: 6.5rem

    .about__img-wrap
        display: flex;
        justify-content: flex-end
        align-items: flex-start
        .about__img
            max-width: 74.6rem
            height: auto
            margin-right: 18.6rem



#block-header
    background: #eeeeee
    color: #0a3544
    .header-line
        margin-left: 20.6rem
        padding-top: 31.3rem 
        padding-bottom: 18.8rem 
    .header-img
        position: absolute
        right: 0
        top: 0

        .header-img__year
            position: absolute
            right: 51rem
            bottom: 0

        .v-social
            position: absolute
            right: 9rem
            top: 23.5rem


#block-about
    margin-top: 17rem

    .about
        .about__img

        .about__content
            padding-bottom: 17.8rem
            .title
                position: relative
                &::after
                    content: " "
                    display: block
                    position: absolute
                    bottom: 1px;
                    height: 1px;
                    width: 150%;
                    margin-left: -20%
                    background: #0f3341

.awesome-list
    list-style-type: none
    margin-left: 5.5rem

    .awesome-list__item
        margin-top: 6.5rem
        position: relative
        &::before
            position: absolute
            content: " "
            width: 2px
            background: black
            height: 160%
            left: -6.5rem
            background: #6992b7
        &:last-child
            &::before
                content: none
    .awesome-list__title
        font-family: $bold_font
        font-size: 3.9rem
        margin-bottom: 0
        position: relative

        &::before
            content: " "
            position: absolute
            left: -9rem
            width: 5rem
            height: 5rem
            border-radius: 50%
            background: #6992b7
            


    .awesome-list__content
        margin-top: 0.5rem
        font-family: $stock_font
        font-size: 3rem

        &.awesome-list__content--sm
            max-width: 55.6rem
        &.awesome-list__content--md
            max-width: 70.7rem

        

#block-client
    background: url(../img/when.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    .container
        margin-left: 43%;
        padding-top: 10rem
        padding-bottom: 5rem
        .title
            font-family: $bold_font
            text-transform: uppercase
            margin-top: 0
            font-size: 6.5rem
            max-width: 90rem
            position: relative
            &:after
                content: " "
                display: block;
                width: 110%;
                height: 2px;
                background: #0f3341;
        

.block-title
    font-family: $bold_font
    text-transform: uppercase
    font-size: 6.5rem
    color: #0f3341
    margin-left: 14rem

.training-set
    display: flex;
    justify-content: center
    flex-wrap: wrap

    .training-set__item
        padding-bottom: 5.8rem
        padding-left: 3rem
        padding-right: 3rem
        width: 49%
        display: flex
        justify-content: flex-end



        .training-set__button
            background: none
            padding: 0
            margin: 0
            border: none
            font-size: 2.1rem
            font-family: $stock_font
            cursor: pointer
            color: #0f3341
            position: relative

            &::before
                content: " ";
                height: 1px
                width: 6.1rem
                right: -7.0rem
                top: calc(0.7em - 2px)
                position: absolute
                background: #0f3341

        .training-set__content
            display: flex
            max-width: 64.3rem
            max-width: 84.3rem
            font-size: 1.7rem
            justify-content: flex-end
            text-align: left


            &.training-set__content--lg
                max-width: 92rem

            .training-set__title
                font-family: $bold_font
                font-size: 3.9rem
                text-transform: uppercase
                line-height: 4rem
                margin-bottom: 0
                position: relative

                &::before
                    content: " "
                    position: absolute
                    height: 5px
                    width: 5.7rem
                    background: #0f3341
                    left: -6.7rem
                    top: 50%

            .training-set__text
                margin-top: 1.2rem
                max-width: 30.2rem

        .training-set__img
            height: 30rem
            width: 30rem
            object-fit: cover

        .training-set__about
            font-size: 1.7rem
            font-family: $stock_font
            padding-left: 3rem
            padding-right: 3rem
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: left

            .training-set__title
                margin-top: 0

        &:nth-child(even)
            justify-content: flex-start

        &.training-set__item--reverse
            .training-set__about
                align-items: right
                text-align: right 
            .training-set__img
                order: 1
            .training-set__button
                &::before
                    right: auto
                    left: -7.0rem

            .training-set__title
                &::before
                    right: -6.7rem
                    left: auto 
#block-training
    padding-top: 5rem
    .block-title
        padding-bottom: 5.9rem
        

.send-message
    padding: 5.7rem 1.7rem 3.7rem 3.2rem
    background: #eeeeee

    .form
        display: flex
        flex-direction: column
        align-items: right

    .send-message__field
        width: 74.1rem
        background: transparent
        border: none
        border-bottom: 2px solid #0f3341
        margin-bottom: 5.5rem
        font-size: 3rem
        font-family: $stock_font
        @include placeholder 
              color: #0f3341
              opacity: 1

        &:last-child
            margin-bottom: 0
    .send-message__button
        padding: 1.7rem 1.3rem
        background: transparent
        color: #0f3341
        border: 2px solid #0f3341
        font-size: 3rem
        font-family: $stock_font
        cursor: pointer
        transition: all 0.2s

        &:hover,
        &:focus
            color: #eeeeee
            background: #0f3341

.contact-info
    margin-left: 23rem
    position: relative
    align-self: center
    background: white
    .contact-info__title
        font-family: $bold_font
        font-size: 3.9rem
        text-transform: uppercase
    .contact-info__content
        font-size: 3rem

    &::before
        content: ' '
        z-index: -1
        display: block
        position: absolute
        left: -23rem
        bottom: -9.5rem
        width: 34.3rem
        height: 45.1rem
        border: 3px solid #0f3341;

#block-contact
    display: flex
    max-width: 150rem
    margin: 0 auto
    justify-content: space-between
    padding-top: 27.2rem
    padding-bottom: 22.3rem

@import "media" // Всегда в конце
